#root {
  height: 100%;
}


body {
  font-family: sans-serif;
  font-size: 14px;
}


.card {
  background-color: white;
  border: black solid 5px;
  max-height: 300px;
  color: rgb(146, 4, 4);
  padding: 2cm;
  margin: 1cm;
  font-size: medium;
  border: 10cm;
}



.cards {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  font-size: 2rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.favorite_container {
  background-size: cover;
  display: grid;
  position: center;
}

.favorite_cards {
  background-color: white;
  position: center;
  border: black solid 5px;
  max-height: 300px;
  max-width: 300px;
  color: rgb(146, 4, 4);
  padding: 2cm;
  margin-left: 35%;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: medium;
  border: 10cm;
}